html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #020617;
  font-family: sans-serif;
  height: 100%;
}

/* kleine extra styling voor overzicht */
/* standaard main buttons */
.mainBtn {
  background: #e33d1c;
  font-size: 16px;
  color: white;
}


#sidebar .mainBtn:nth-of-type(6) {
margin-top: 5em;
}

.subBtn {
  display: none;  /* standaard verborgen */
  margin-left: 10px;
}

.mainBtn.active {
  background: #5384c8;
  color: white;
}

#sidebar .mainBtn {
  color: white;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

#sidebar .mainBtn:hover {
  background: #426bb0;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

button {
  border: none;
  color: white;
  padding: 8px 16px;       /* wat minder padding */
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin: 6px 0;
  width: auto;             /* breedte past zich aan de tekst aan */
  display: block;
}

#canvas {
  flex: 1;
   width: 100%;
  height: 100%;
  margin-left: 30px;  /* reserveer ruimte voor sidebar */
  display: block;
  background: #020617;
}

#canvasContainer{
  position: relative; 
  flex: 1;
  height: 100%;
  margin-left: 250px;
  transition: margin-left 0.5s ease;
}

/*#sidebar.show ~ #canvasContainer {
  margin-left: 250px;} /* zelfde breedte als sidebar */


/* Sidebar links vast */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;               /* links uitlijnen */
  width: 250px;          /* vaste breedte */
  height: 100%;
  background-color: #111;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  overflow-y: auto;
  /*transform: translateX(100%); /* begin buiten scherm */
  /*transition: transform 0.5s ease; /* animatie */
}

#sidebar.show {
  display: flex;
  opacity: 1;
  transform: translateX(0); /* schuift volledig in beeld */
}




/* algemene sidebar buttons (sub-buttons) */
#sidebar button {
  background: #222;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
}

/* hover effect voor alle sidebar buttons */
#sidebar button:hover {
  background: #333;
}

/* specifiek voor main buttons */
#sidebar .mainBtn {
  background: #c9b3ff;   /* standaardkleur */
  font-size: 16px;
  color: white;
}

/* hover effect voor main buttons */
#sidebar .mainBtn:hover {
  background: #426bb0;
}

/* actieve main button */
#sidebar .mainBtn.active {
  background: #5384c8;
  color: white;
}

#storyOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  z-index: 10;
}

#storyOverlay.hidden {
  opacity: 0;
}


